<ion-view view-title="用户中心" ng-cloak>

	<ion-nav-buttons side="primary">
	  <button ng-if="logedin" style="color:#039EB1;" class="button button-dark button-clear" 
	  	ng-click="logout(logoutSuccess)">
	    退出
	  </button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
	  <button ng-if="!logedin" class="button button-positive" 
	  	ng-click="login()">
	    去登陆
	  </button>
	</ion-nav-buttons>

	<ion-content class="" style="background-color:#f5f5f5;">

	<div ng-if="inProgress1 || inProgress2" 
			style="width:100%;height:200px;
  					background-size:auto 50%;background-repeat:no-repeat;
  					background-position:center;
  					background-image:url('//static.damiaa.com/img/loading/loading52.gif');">
		
	</div>
	
	<div ng-show="{{logedin}} && !inProgress1 && !inProgress2">
		<!-- <ion-list>
			<ion-item class="item-thumbnail-left">
				<img src="http://placehold.it/5x5" />
				<h2>Keesh</h2>
			</ion-item>
		</ion-list> -->
		<!-- <label class="item" style="padding: 10px;">
			<img style="width:50px;height:50px;float:left;" src="http://placehold.it/50x50" />
			<h2 class="item-content" style="font-size:1.1em;padding-left:.5em;">Keesh</h2>
		</label> -->

		<div class="item item-divider" style="padding:0;min-height:15px;"></div>
		<a href="javascript:void(this);" class="item item-icon-left item-icon-right" 
			style="padding:25px;padding-left:70px">
			<i class="icon ion-ios-people-outline" style="width:50px;height:50px;top:10px;color:#505050;/*background-color:red;*/"></i>
			<span class="item-content">{{loginUser.name ? loginUser.name : '&nbsp;' }}</span>
			<i class="icon ion-ios-arrow-forward" style="color:#505050;"></i>
		</a>


		<div ng-if="loginUser.isAdmin" 
				class="item item-divider" style="padding:0;min-height:15px;"></div>

		<div ng-if="loginUser.isAdmin" 
				style="padding: 0 .6em;background-color:white;border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;">
			<a ng-click="userOrders()" 
					class="item item-icon-left item-icon-right" 
					style="border-left:none;border-right:none;">
				<i class="icon ion-leaf" style="color:#CE1FB4;font-size:30px;"></i>
				<span class="item-content" style="color:gray;">待发货订单</span>
				<span class="badge badge-assertive" 
						style="right:16px;background-color:#3591E0;">
						{{loginUserStatistic.orderCount_WaitingSend}}</span>
			</a>
		</div>


		<div class="item item-divider" style="padding:0;min-height:15px;"></div>

		<div style="padding: 0 .6em;background-color:white;border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;">
			<a ng-click="orderList()" 
					class="item item-icon-left item-icon-right" 
					style="border-left:none;border-right:none;">
				<i class="icon ion-stats-bars" style="color:#37CE1F"></i>
				<span class="item-content" style="color:gray;">历史订单</span>
				<span class="badge badge-assertive" 
						style="right:16px;background-color:#3591E0;">{{loginUserStatistic.orderCount}}</span>
			</a>

			<a ng-click="addrList()"
					class="item item-icon-left item-icon-right" 
					style="border-left:none;border-right:none;">
				<i class="icon ion-levels" style="color:#D41313"></i>
				<span class="item-content" style="color:gray;">收货地址</span>
				<span class="badge badge-assertive" 
					style="right:16px;background-color:#3591E0;">{{loginUserStatistic.addressCount}}</span>
			</a>
		</div>

		<div class="item item-divider" style="padding:0;min-height:15px;"></div>

		<div style="padding: 0 .6em;background-color:white;border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;">
			<!-- <a href="javascript:void(this);" 
					class="item item-icon-left item-icon-right" 
					style="border-left:none;border-right:none;">
				<i class="icon ion-ios-upload" style="color:#CE1FC6"></i>
				<span class="item-content" style="color:gray;">上传头像</span>
			</a> -->

			<a ng-click="resetpwd()"
					class="item item-icon-left item-icon-right" 
					style="border-left:none;border-right:none;">
				<i class="icon ion-wand" style="color:#0c60ee"></i>
				<span class="item-content" style="color:gray;">修改密码</span>
				<i class="icon ion-ios-arrow-forward" style="color:#505050;"></i>
			</a>
		</div>

		<div class="item item-divider" style="padding:0;min-height:15px;"></div>

		<a ng-click="logout(logoutSuccess)"
				class="item item-icon-left item-icon-right" 
				style="text-align:center;">
			<span class="item-content" style="color:#3591E0;font-weight:bold;">退出登陆</span>
		</a>
	</div>
	<div ng-hide="{{logedin}}">
		<h2>请登陆...</h2>
	</div>

	</ion-content>
</ion-view>
