<ion-view view-title="用户登陆" ng-cloak>

	<ion-nav-buttons side="primary">
	  <!-- <button style="color:#039EB1;" class="button button-dark button-clear" 
	  	ng-click="register()">
	    新用户，去注册
	  </button> -->

	  <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxbfbeee15bbe621e6&redirect_uri=http%3A%2F%2Fwww.damiaa.com%2Fregister&response_type=code&scope=snsapi_base&state=HbYFbj4CAlo72uPw#wechat_redirect" style="color:#039EB1;" 
	  class="button button-dark button-clear">
	    新用户，去注册
	  </a>
	</ion-nav-buttons>



	<ion-content class="padding">
		<div class="button-bar padding-top padding-bottom">
		  <button ng-click="tabClick(1)" 
		  			ng-class="{'activated ion-checkmark current-tab':tabIndex==1}"
		  			class="button button-positive icon-right">
		  	用户名密码登陆
		  </button>
		  <button ng-click="tabClick(2)" 
		  			ng-class="{'activated ion-checkmark current-tab':tabIndex==2}"
		  			class="button button-positive icon-right">
		  	短信验证码登陆
		  </button>
		</div>
		<div ng-class="{'ng-hide':tabIndex!=1}">
			<div class="item item-divider">用户名密码登陆</div>
			<div class="list">

				<label class="item item-input">
					<span class="input-label">用户名</span>
					<input type="text" placeholder="请输入用户名" ng-model='logM.username' />
				</label>

				<label class="item item-input">
					<span class="input-label">密码</span>
					<input type="password" placeholder="请输入密码" ng-model='logM.passwd' />
				</label>
			</div>

			<div class="button-bar padding-top padding-bottom">
			  <button ng-click="login()"
			  			class="button button-positive">
			  	登陆
			  </button>
			</div>
		</div>


		<div ng-class="{'ng-hide':tabIndex!=2}">
			<div class="item item-divider">短信验证码登陆</div>
			<div class="list">

				<div class="item item-input-inset" style="padding:0;">
				<label class="item-input" style="width:100%;">
				    <i class="icon ion-ios-telephone placeholder-icon"></i>
				    <input type="text" placeholder="请输入手机号" ng-model="user.phone">
				</label>
				</div>

				<div class="item item-input-inset" style="padding:0;">
					<label class="item-input" style="width:75%;">
    					<i class="icon ion-android-textsms placeholder-icon"></i>
						<input type="password" placeholder="请输入短信验证码" />
					</label>
					<button style="padding: 0 1.5em;" class="button button-right button-small activated button-positive">
					  	发送短信
					 </button>
				 </div>
			</div>
		</div>


		<div class="status flash-modal" 
			ng-class='{"modal-info": isInfo, "modal-danger": isDanger, "modal-error": isDanger}'>
			<div>{{message}}</div>
		</div>
	</ion-content>
</ion-view>
