<ion-view view-title="订单详情" ng-cloak>

	<ion-nav-buttons side="primary">
	  <button class="button back-button ion-chevron-left button-clear button-dark" 
	  			style="font-size:1.5em;"
	  			ng-click="backToProductDetailPage()">
	  </button>
	</ion-nav-buttons>

	<ion-content style="background-color:#F7F7F7;">	
		<div style="min-height:140px;background-color:#FFFBF5;border-bottom:solid #E4E4E4 1px;">
			<img style="margin: .5em;margin-right:1em;max-height:100%;float:left;width:20%;" ng-src="/img/heros/baozhuang.jpg" />
			<div style="float:left;min-width:65%;margin-top:1em">
				<span style="color:#484848;">品名：AA精米 2015特级新米</span><br />
				<span style="color:#484848;">
						单价：&yen; <i>{{unitPrice.toFixed(2)}}</i>/袋 (10kg)</span> <br />
				<span style="color:#484848;">
						产地：黑龙江省绥化市双河镇</span>
				<div style="color:#484848;">
					<span>数量：</span>

				    <select ng-model="countSelectedVal" 
				    		ng-change="countChange(countSelectedVal)">
		         		<option ng-selected="countSelectedVal == 1" value="1">1</option>
		         		<option value="2">2</option>
		         		<option value="3">3</option>
		         		<option value="4">4</option>
		         		<option value="5">5</option>
		         		<option value="6">6</option>
		         		<option value="7">7</option>
		         		<option value="8">8</option>
		         		<option value="9">9</option>		         		
		         		<option value="10">10</option>
				    </select>
			    </div>
			    <hr style="border:none;border-bottom:solid 1px #D6D6D6;" />
			    <span style="color:#484848;float:right;">
						合计：&yen; {{totalPrice}}</span>
			</div>
			<div style="float:none;clear:both;"></div>
		</div>

		<div style="background-color:white;text-align:center;padding:1px;
					margin-top:1em;
					border-top:solid #E4E4E4 1px;border-bottom:solid #E4E4E4 1px;">
			<div>
				<i class="icon " 
					style="padding:.8em;font-size:1em;float:left;width:20%;color:gray;">收货地址</i>
				<a href="javascript:void(this);" class="item item-icon-right" 
					style="font-size:1em;border:none;float:left;width:80%;text-align:left;
							border-bottom:solid 1px #EAEAEA;margin-bottom:1px;
							padding-top:.8em;padding-bottom:.8em;padding-left:.6em;">
					<span class="item-content">一切为了您的餐桌更健康</span>
					<i class="icon ion-ios-arrow-forward" style="color:#505050;font-size:1.5em;"></i>
				</a>
				<div style="float:none;clear:both;"></div>
			</div>
			<div>
				<i class="icon " 
					style="padding:.8em;font-size:1em;float:left;width:20%;color:gray;">付款方式</i>
				<div class="item item-icon-right" 
					style="font-size:1em;border:none;float:left;width:80%;text-align:left;
							border-bottom:solid 1px #EAEAEA;margin-bottom:1px;
							padding-top:.8em;padding-bottom:.8em;padding-left:.6em;">
					<span class="item-content">微信支付</span>
					<!-- <i class="icon ion-ios-arrow-forward" 
					style="color:#505050;font-size:1.5em;"></i> -->
				</div>
				<div style="float:none;clear:both;"></div>
			</div>
			<div>
				<i class="icon " 
					style="padding:.8em;font-size:1em;float:left;width:20%;color:gray;">摘要</i>
				<div class="item " 
					style="font-size:1em;border:none;float:left;width:80%;text-align:left;
							padding-top:.8em;padding-bottom:.8em;padding-left:.6em;">
					<div class="item-content">
						<span>商品总计</span>
						<span style="float:right;">&yen; {{totalPrice}}</span>
					</div>
					<div ng-if="countSelectedVal<3" class="item-content">
						<span>&nbsp;&nbsp;&nbsp;快递费</span>
						<span style="float:right;">&yen; {{totalDeliveryCosts}}</span>
					</div>
					<div ng-if="countSelectedVal>=3" class="item-content" style="color:red;">
						<span>免费送货</span>
						<span style="float:right;">&yen; {{totalDeliveryCosts}}</span>
					</div>
					<div class="item-content">
						<span>订单总计</span><span style="float:right;">&yen; {{orderPrice}}</span>
					</div>
				</div>
				<div style="float:none;clear:both;"></div>
			</div>
		</div>

		
		<div class="button-bar padding">
		  <button ng-click="login()"
		  			class="button button-assertive">
		  	<span style="color:#5BCA00;font-weight:bold;font-style:oblique;">
		  		需付：&yen; {{orderPrice}}</span> &nbsp;&nbsp;微信安全支付
		  </button>
		</div>
	</ion-content>
</ion-view>
