<ion-view view-title="订单详情" ng-cloak>

	<!-- <ion-nav-buttons side="primary">
	  <button style="color:#039EB1;" class="button button-dark button-clear" 
	  	ng-click="register()">
	    新用户，去注册
	  </button>
	</ion-nav-buttons> -->



	<ion-content>
		<h4 style="color:blue;padding:0 .5em;
					background-image:url('/img/miscellaneous/envelope-border.png');
					background-repeat:repeat-x;
					background-position:bottom;
					padding:.5em 0;
					margin:0;
					background-size:35px;">订单创建成功 ...</h4>
		<div style="padding:1.5em 1em;background-color:#F3F3F3;font-weight:bold;color:#060606;
					border-top:solid #E4E4E4 1px;">
			<span style="color:#383838">订单编号:</span> <br />
			<span>{{currentOrder.id}}</span> <span style="float:right;">待付款</span>
			<br />
			<div style="text-align:right;color:gray;font-style:oblique;">创建于 {{currentOrder.createTime}}</div>
		</div>

		<!-- <div style="background-color:white;text-align:center;padding:1px;
							margin-top:1em;
							border-top:solid #E4E4E4 1px;border-bottom:solid #E4E4E4 1px;">
			<img style="margin: .5em;margin-right:1em;max-height:100%;float:left;width:20%;" ng-src="/img/heros/baozhuang.jpg" />
		</div> -->

		<div style="background-color:white;text-align:center;padding:1px;
					border-top:solid #E4E4E4 1px;border-bottom:solid #E4E4E4 1px;">
			<div ng-repeat="item in orderItems">
				<div class="item " 
					style="font-size:1em;border:none;float:left;width:100%;text-align:left;
							border-bottom:solid 1px #EAEAEA;margin-bottom:1px;
							padding-top:.8em;padding-bottom:.8em;padding-left:.6em;">
					<img style="margin: .5em;margin-right:.5em;max-height:100%;float:left;width:20%;" 
							ng-src="/img/heros/baozhuang.jpg" />
					<span class="item-content"
						  style="padding: .5em 0 .5em .5em;;display:block;">
						<p>{{item.goodsName}} </p>
						<p><span style="font-weight:bold;font-style:oblique;">{{item.goods.weight}} x{{item.count}}{{item.goods.unit}}</span> 
						<span style="float:right;font-size:1.35em;color:#2200FD;font-weight:bold;font-style:oblique;">
							&yen; {{item.totalPrice.toFixed(2)}}</span></p>
						<p>产自 <span style="font-style:oblique;">{{item.goods.place}}</span> </p>
					</span>
					
				</div>
				<div style="float:none;clear:both;"></div>
			</div>


			<div>
				<i class="icon " 
					style="padding:.8em;font-size:1em;float:left;width:30%;color:gray;">收货地址</i>
				<div class="item item-icon-right" 
					style="font-size:1em;border:none;float:left;width:70%;text-align:left;
							border-bottom:solid 1px #EAEAEA;margin-bottom:1px;
							padding-top:.8em;padding-bottom:.8em;padding-left:.6em;">
					<span class="item-content" style="white-space:normal;">
						{{currentOrder.receiveMan}} ({{currentOrder.phone}})<br />
						{{currentOrder.address}} 
					</span>
				</div>
				<div style="float:none;clear:both;"></div>
			</div>
			<div>
				<i class="icon " 
					style="padding:.8em;font-size:1em;float:left;width:30%;color:gray;">付款方式</i>
				<div class="item item-icon-right" 
					style="font-size:1em;border:none;float:left;width:70%;text-align:left;
							border-bottom:solid 1px #EAEAEA;margin-bottom:1px;
							padding-top:.8em;padding-bottom:.8em;padding-left:.6em;">
					<span class="item-content">微信支付</span>
				</div>
				<div style="float:none;clear:both;"></div>
			</div>
			<div>
				<i class="icon " 
					style="padding:.8em;font-size:1em;float:left;width:30%;color:gray;">发票类型</i>
				<div class="item item-icon-right" 
					style="font-size:1em;border:none;float:left;width:70%;text-align:left;
							border-bottom:solid 1px #EAEAEA;margin-bottom:1px;
							padding-top:.8em;padding-bottom:.8em;padding-left:.6em;">
					<span class="item-content">暂时无法提供发票</span>
				</div>
				<div style="float:none;clear:both;"></div>
			</div>
			<div>
				<i class="icon " 
					style="padding:.8em;font-size:1em;float:left;width:30%;color:gray;">&nbsp;</i>
				<div class="item " 
					style="font-size:1em;border:none;float:left;width:70%;text-align:left;
							padding-top:.8em;padding-bottom:.8em;padding-left:.6em;">
					<div ng-if="currentOrder.freightMoney>0" class="item-content"
						 style="font-style:oblique;">
						<span>快递费用</span>
						<span style="float:right;">&yen; {{currentOrder.freightMoney.toFixed(2)}}</span>
					</div>
					<div ng-if="currentOrder.freightMoney==0" class="item-content"
						 style="color:red;">
						<span>免费送货</span>
						<span style="float:right;">&yen; 0.00</span>
					</div>
					<div class="item-content" style="font-weight:bold;">
						<span>订单总计 (含运费)</span><span style="float:right;">&yen; {{currentOrder.orderMoney.toFixed(2)}}</span>
					</div>
				</div>
				<div style="float:none;clear:both;"></div>
			</div>
		</div>


		<div class="button-bar padding" style="margin-bottom:4em;">
		  <button ng-click="login()"
		  			class="button button-assertive">
		  	<span style="color:#5BCA00;font-weight:bold;font-style:oblique;">
		  		需付：&yen; {{currentOrder.orderMoney.toFixed(2)}}</span> &nbsp;&nbsp;微信安全支付
		  </button>
		</div>
	</ion-content>
</ion-view>
