<ion-view view-title="修改密码" ng-cloak>

	<ion-nav-buttons side="primary">
	  <button class="button ion-chevron-left button-clear button-dark" 
	  			ng-click="backToAccountPage()">
	  </button>
	</ion-nav-buttons>

	<ion-content class="padding">
	
	<div class="card">	
		<div class="item item-divider">修改个人登陆密码</div>
		<div class="list">

			<div class="item item-input-inset" style="padding:0;">
				<label class="item-input" style="width:100%;">
				    <i class="icon ion-unlocked placeholder-icon"></i>
				    <input type="text" placeholder="请输入原始密码" ng-model="resetPwdM.oldPwd">
				</label>
			</div>

			<div class="item item-input-inset" style="padding:0;">
				<label class="item-input" style="width:100%;">
				    <i class="icon ion-refresh placeholder-icon"></i>
				    <input type="password" placeholder="请输入新密码 (密码长度6-16位)" ng-model="resetPwdM.newPwd">
				</label>
			</div>

			<div class="item item-input-inset" style="padding:0;">
				<label class="item-input" style="width:100%;">
				    <i class="icon ion-ios-checkmark placeholder-icon"></i>
				    <input type="password" placeholder="请再输一边新密码" ng-model="resetPwdM.newPwdAgain">
				</label>
			</div>
		</div>


	</div>


		<div class="button-bar padding-top padding-bottom">
		  <button ng-click="resetpwd()"
		  			class="button button-positive">
		  	确认修改
		  </button>
		</div>



		<div class="status flash-modal" 
			ng-class='{"modal-info": isInfo, "modal-danger": isDanger, "modal-error": isDanger}'>
			<div>{{message}}</div>
		</div>
	</ion-content>
</ion-view>
